table {
    width: 400px;
    border-collapse: collapse;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 10px;
    margin: 0 auto;
}

th {
    color: white;
    background-color: rgb(41, 160, 91);
}

td, th {
    padding: 15px;
}

tr:nth-child(odd) {
    background-color: rgb(209, 209, 209);
}